# =============== #
# Unity generated #
# =============== #
Post Audit Tool/[Tt]emp/
Post Audit Tool/[Oo]bj/
Post Audit Tool/[Bb]uild
/[Bb]uilds/
Post Audit Tool//[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage